.startCookingContainer {
    margin: 1rem 0 1.5rem 0;
}

.startCookingLink {
    text-decoration: none;
}

.startCookingButton {
    background: #ffffff;
    color: #60a5fa;
    font-size: 15px;
    padding: 10px 18px;
    border: 2px solid #60a5fa;
    border-radius: 24px;
    cursor: pointer;
}