#=================================================================================================================
# .env file for ByteYourForkDB
# Copy this file to .env and fill in the values
# You should not commit your .env file to the repo as it may contain sensitive information.
# Fill in the values below with your own configurations and save the file as .env in the root of your project.
# Values look like this: KEY=value
#==================================================================================================================

# PostgreSQL database 
POSTGRES_USER=SousChef
POSTGRES_PASSWORD=password
POSTGRES_DB=appdb

# Backend settings
NODE_ENV=development
PORT=8080
DATABASE_URL=postgresql://SousChef:password@postgres:5432/appdb
JWT_SECRET=your_jwt_secret_here

# Frontend settings
VITE_API_URL=http://backend:8080

JWT_SECRET=cb02965d8eff84be241e48f86c06302bbc40dd569d4ddffae18c754ad88d3272

# Email (Resend)
RESEND_API_KEY=re_aoiPXSuk_Co96vjc3WSkdxxeYWJZGrQP2
EMAIL_FROM=noreply@byteyourfork.com

# Gemini
GEMINI_API_KEY=AIzaSyB7p5ksi0AzVHUf1kTquAHZLpeBrqWr2Jo
