#=================================================================================================================
# .env file for ByteYourForkDB
# Copy this file to .env and fill in the values
# You should not commit your .env file to the repo as it may contain sensitive information.
# Fill in the values below with your own configurations and save the file as .env in the root of your project.
# Values look like this: KEY=value
#==================================================================================================================

# PostgreSQL database 
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=appdb

# Backend settings
NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://postgres:password@postgres:5432/appdb

# Frontend settings
VITE_API_URL=http://localhost:3000