.sidebar {
    width: 5%;
    background-color: #23297A;

    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    padding: 0rem 1rem;
}

.logo {
    margin: auto;
}

.explore_button {
    margin: auto;
}

.notification_button {
    margin: auto;
}

.settings_button {
    margin: auto;
}