.signupbutton{
    background-color:rgb(212, 208, 208);
    color:rgb(212, 208, 208);
    font-size: 15px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height:auto;
}

.signupbutton:hover{
    background-color:rgb(255, 255, 255);
}