.outer_div {
    width: 100%;
    height: 100%;

    padding: 2rem 8rem;
}

.inner_div {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.title {
    font-size: 36pt;
}

.pfp_line_div {
    display: flex;
    align-items: center;
    column-gap: 1rem;

    img {
        width: 3rem;
        height: 3rem;
    }
}

.fields_div {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    width: 30rem;
}

.fields_entry {
    display: flex;
    justify-content: space-between;
}

.field_left {

}

.field_right {
    display: flex;
    align-items: center;

    font-size: 16pt;
}

.field_title {
    font-size: 24pt;
}

.field_value {
    font-size: 14pt;
}