.main_div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 50px;
    height: 100%;
}

.gap {
    display: flex;
    align-items: center;
    gap: 20px;
}