.main_div {
    height: 100%;
    padding: 0rem 1rem;

    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.searchbar_div {
    flex-grow: 1;

    input {
        width: 100%;
    }
}