@use '../constants.module.scss' as constants;

.main_div {
    width: 100%;
    height: 100%;

    display: flex;
}

.title_and_content_div {
    width: 100%;

    // display: flex;
    // flex-direction: column;
    overflow-y: scroll;

    background-color: blue;
}

.sidebar_div {
    // width: 3pem;
    height: 100%;

    background-color: rgb(132, 0, 0);
}

.titlebar_div {
    height: constants.$titlebar-thickness;

    position: sticky;
    top: 0rem;

    background-color: green;
}

.page_div {
    width: 100%;
    // height: 100%;
    // min-height: 100%;

    // background-color: blue;
}